<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
  <add name="trackDBEntities2" connectionString="metadata=res://TrackerModel/Model.csdl|res://TrackerModel/Model.ssdl|res://TrackerModel/Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string='Data Source=|DataDirectory|\trackDB.sdf'" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>