<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="trackDBEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\trackDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="trackDBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\trackDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="trackDBEntities2" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=trackDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>